@model List<ControleEstoque.Web.Models.CategoriaProduto>
@{ ViewBag.Title = "Cadastro de Grupo de Produtos";}

<style>
    #grid_cadastro > thead > tr th:nth-child(1) {
        width: 80px;
    }
    #grid_cadastro > thead > tr th:nth-child(2) {
        width: 300px;
    }

    #grid_cadastro > thead > tr th:nth-child(3) {
        width: 80px;
    }

    #grid_cadastro > thead > tr th:nth-child(4) {
        width: 210px;
    }

    #cadastro {
        width: 70%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
    }
</style>

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn-incluir" class="btn btn-success" role="button">
                    <i class="glyphicon glyphicon-plus"> Incluir</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                                   
                        @foreach (var p in Model)
                        {
                            var status = ((bool)p.Estado ? "Ativo" : "Inativo");
                           
                            <tr data-id="@p.Id">
                                <td>@p.Id</td>
                                <td>@p.Nome</td>
                                <td>@status</td>
                                <td>
                                    <a class="btn btn-primary btn-alterar" role="button">
                                        <i class="glyphicon glyphicon-pencil"> Alterar</i>
                                    </a>
                                    <a class="btn btn-danger btn-excluir" role="button">
                                        <i class="glyphicon glyphicon-trash"> Deletar</i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@Html.Hidden("id-cadastro")

<div id="modal-cadastro" class="form-horizontal invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    <fieldset>
        <div class="row">
            <div class="form-group">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                <div class="col-md-12">
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("radio_status", "Status", new { @class = "col-md-3 control-label" })
                <div class="col-md-12">
                    <ul style="list-style: none">
                        <li>@Html.RadioButton("ativo", true) Ativo</li>
                        <li>@Html.RadioButton("ativo", false) Inativo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn-sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> Sair</i></a>
                        <a id="btn-salvar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"> Salvar</i></a>
                    </div>
                    <div id="msg_aviso" class="alert alert-warning invisivel">Favor preencher os campos acima.</div>
                    <div id="msg_erro" class="alert alert-danger invisivel">Potz! Deu ruim!</div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts
{
    <script>

        // Abre modal de cadastro
        function formOpen(dados) {
            $('#id-cadastro').val(dados.Id)
            $('#txt_nome').val(dados.Nome)
            $('#ativo').prop('checked', dados.Estado)

            var modal_cadastro = $('#modal-cadastro');

            $('#msg_mensagem_aviso').empty();
            $('#msg_aviso').hide();
            $('#msg_mensagem_aviso').hide();
            $('#msg_erro').hide();

            bootbox.dialog({
                title: '@ViewBag.Title',
                message: modal_cadastro
            })
            .on('shown.bs.modal', function () {
                modal_cadastro.show(0, function () {
                    $('#txt_nome').focus();
                });
            })
            .on('hidden.bs.modal', function () {
                modal_cadastro.hide().appendTo('body');
            })
        }

        // Cria uma nova linha para a grid
        function criarLinhaGrid(dados) {
            var ret =
                '<tr data-id=' + dados.Id + '>' +
                    '<td>' + dados.Id + '</td>' +
                    '<td>' + dados.Nome + '</td>' +
                    '<td>' + (dados.Estado ? 'Ativo' : 'Inativo') + '</td>' +
                    '<td>' +
                        '<a class="btn btn-primary btn-alterar" role="button">'+
                            '<i class="glyphicon glyphicon-pencil"> Alterar</i>'+
                        '</a> '+
                        '<a class="btn btn-danger btn-excluir" role="button">'+
                            '<i class="glyphicon glyphicon-trash"> Deletar</i>'+
                        '</a>'+
                    '</td>' +
                '</tr>';

            return ret;
        }

        function formatMsgAviso(mensagens) {
            var msg = '';

            for (var i = 0; i < mensagens.length; i++) {
                msg += '<li>' + mensagens[i] + '</li>';
            }

            return '<ul>' + msg + '</ul>';
        }

        /**************************************************************/

        $(document).on('click', '#btn-incluir', function () {

            formOpen({ Id: 0, Nome: '', Ativo: true });
        })
        .on('click', '.btn-alterar', function () {

            var btn = $(this);
            var id = btn.closest('tr').attr('data-id');
            var url = '@Url.Action("RecuperarGrupoProduto", "Cadastro")';
            var param = { 'id': id };

            $.post(url, param, function (response) {
                if (response) {
                    formOpen(response);
                }
            });
        })
        .on('click', '.btn-excluir', function () {
            var btn = $(this);
            var tr = btn.closest('tr');
            var id = tr.attr('data-id');
            var url = '@Url.Action("ExcluirCategoriaProduto", "Cadastro")';
            var param = { 'id': id };

            bootbox.confirm({
                message: "Tem certeza que deseja excluir esta Categoria de Produtos?",
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post(url, param, function (response) {
                            if (response) {
                                tr.remove();
                            }
                        });
                    }
                }
            });
        })
        .on('click', '#btn-salvar', function () {

            var btn = $(this);
            var url = '@Url.Action("SalvarCategoriaProduto", "Cadastro")';
            var param = {
                    Id: $('#id-cadastro').val(),
                    Nome: $('#txt_nome').val(),
                    Estado: $('#ativo').prop('checked')
                };

            $.post(url, param, function (response) {
                if (response.Resultado == "OK") {
                    if (param.Id == 0) {
                        param.Id = response.IdSalvo;
                        var table = $('#grid_cadastro').find('tbody');
                        var linha = criarLinhaGrid(param);
                        table.append(linha);
                    }
                    else {
                        var linha = $('#grid_cadastro').find('tr[data-id=' + param.Id + ']').find('td');
                        linha
                            .eq(1).html(param.Nome).end()
                            .eq(2).html(param.Estado ? 'Ativo' : 'Inativo');
                    }

                    $('#modal-cadastro').parents('.bootbox').modal('hide');
                }
                else if (response.Resultado == "ERRO"){
                    $('#msg_aviso').hide();
                    $('#msg_mensagem_aviso').hide();
                    $('#msg_erro').show();
                }
                else if (response.Resultado == "AVISO") {
                    $('#msg_mensagem_aviso').html(formatMsgAviso(response.Mensagens));
                    $('#msg_aviso').show();
                    $('#msg_mensagem_aviso').show();
                    $('#msg_erro').hide();
                }
            });
        });
    </script>
}