@model List<ControleEstoque.Web.Models.Fornecedor>

<div>
    <div>
        <h2>Fornecedores</h2>
    </div>
    <div>
        <a id="btn-incluir" class="btn btn-success" role="button">
            <i class="glyphicon glyphicon-plus"> Novo...</i>
        </a><br /><br />
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>País</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.Nome</td>
                    <td>@f.Endereco</td>
                    <td>@f.Cidade</td>
                    <td>@f.Pais</td>
                    <td>@f.Telefone</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" role="button">
                            <i class="glyphicon glyphicon-pencil"> Alterar</i>
                        </a>
                        <a class="btn btn-danger btn-excluir" role="button">
                            <i class="glyphicon glyphicon-trash"> Deletar</i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<div id="modal-novo-fornecedor" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <h2>Cadastrar novo Fornecedor</h2>
        <div class="row">
            <div class="form-group">
                <div>
                    @Html.Label("lbl_nome", "Nome:", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.Label("lbl_endereco", "Endereco", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_endereco", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.Label("lbl_cidade", "Cidade", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cidade", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.Label("lbl_pais", "País", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_cidade", null, new { @class = "form-control" })
                </div>
                <div>
                    @Html.Label("lbl_telefone", "Telefone", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_telefone", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <a id="btn_cancelar" role="button" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"> Cancelar</i></a>
                <a id="btn_salvar" role="button" href="#" class="btn btn-primary"><i class="glyphicon glyphicon-ok"> Salvar</i></a>
            </div>
        </div>
    </fieldset>    
</div>


@section Scripts
{

<script>

    $(document).on('click', '.btn-alterar', function () {
        formOpen({ a: 'a' });
    });

    $(document).on('click', '.btn-excluir', function () {
        
    });

    function formOpen(dados) {
        var novo = $('#modal-novo-fornecedor');
        bootbox.dialog({
            message: novo
        })
        .on('shown.bs.modal', function () {
            novo.show();
        })
        .on('hidden.bs.modal', function () {
            novo.hide().appendTo('body');
        })
    }

</script>

}